<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<RollingFile name="parserLog" fileName="logs/parser.log" filePattern="logs/parser.log-%d{yyyy-MM-dd}-%i">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %msg :: %logger{36}%n" />
			<OnStartupTriggeringPolicy />
		</RollingFile>
				<RollingFile name="penaltyLog" fileName="logs/penalty.log" filePattern="logs/penalty.log-%d{yyyy-MM-dd}-%i">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %msg :: %logger{36}%n" />
			<OnStartupTriggeringPolicy />
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %msg :: %logger{36}%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="formula" level="debug" additivity="false">
			<AppenderRef ref="parserLog" />
		</Logger>
		<Logger name="PENALTY_LOGGER" level="info" additivity="false">
			<AppenderRef ref="penaltyLog" />
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>